@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
    font-family: "Montserrat", sans-serif;
  }
  
  @media (max-width: 768px) {
    .main-container {
      background-image: url("images1/back-img2.png");
      background-size: cover;
      background-position: center;
    }
  }
  
  @media (min-width: 768px) {
    .second-container {
      background-image: url("images1/back-img.png");
      background-size: cover;
      background-position: center;
    }
  } */